<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->
            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="-picture_count">Count</option>
            </select>

            <ul class="tag-list">
                <li ng-repeat="tag in tags | filter:query | orderBy:orderProp">
                    <a href="#/tag/{{tag.name}}">{{tag.name}} ({{tag.picture_count}})</a>
                </li>
            </ul>
        </div>
        <div class="span10">
            <!--Body content-->
            <h1>{{event.name}} - {{event.picture_count}} pictures ({{current_page}} / {{lp}})</h1>
            <ul>
                <li style="display: inline;">
                    <a href="#/tag/{{tag.name}}/{{pagination.first}}">First</a> | 
                </li>
                <li style="display: inline;">
                    <a href="#/tag/{{tag.name}}/{{pagination.previous}}">Previous</a> | 
                </li>
                <li ng-repeat="p in pagination.windows" style="display: inline; {{p == current_page && 'font-weight: bold;' || ''}}">
                    <a href="#/tag/{{tag.name}}/{{p}}">Page {{p}}</a> | 
                </li>
                <li style="display: inline;">
                    <a href="#/tag/{{tag.name}}/{{pagination.next}}">Next</a> | 
                </li>
                <li style="display: inline;">
                    <a href="#/tag/{{tag.name}}/{{pagination.last}}">Last</a>
                </li>
            </ul>
            <ul class="tag-pictures">
                <li ng-repeat="picture in event.pictures">
                    <a href="#/event/{{event.name}}/picture/{{picture.id}}" title="{{picture.title}}">
                        <img ng-src="{{thumbs_base_path}}{{picture.thumbnail}}">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
