<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->
            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="-picture_count">Count</option>
            </select>

            <ul class="tag-list">
                <li ng-repeat="tag in tags | filter:query | orderBy:orderProp">
                    <a href="#/tag/{{tag.name}}">{{tag.name}} ({{tag.picture_count}})</a>
                </li>
            </ul>
        </div>
        <div class="span10">
            <!--Body content-->
            <h1>{{group_type}} - {{groups.length}} groups ({{current_page+1}} / {{pagination.last+1}})</h1>
            <span style="text-align: center;">
                <ul style="width: 100%;">
                    <li style="display: inline">
                      <a href="#/{{group_type}}/page/{{pagination.first}}">First</a> | 
                      <a href="#/{{group_type}}/page/{{pagination.previous}}">Previous</a> ...
                    </li>
                    <li style="display: inline;" ng-repeat="page in range(pagination.first,pagination.last, current_page)">
                        <a style="padding: 0px 5px 0px 5px;"
                            class="{{{true: 'current_page', false: ''}[page == current_page]}}"
                            href="#/{{group_type}}/page/{{page}}">{{page+1}}</a>
                    </li>
                    <li style="display: inline"> ... 
                      <a href="#/{{group_type}}/page/{{pagination.next}}">Next</a> | 
                      <a href="#/{{group_type}}/page/{{pagination.last}}">Last</a>
                    </li>
                </ul>

            </span>



            <ul class="tag-pictures">
                <li ng-repeat="group in groups | filter:query | startFrom:current_page*pagination.per_page | limitTo:pagination.per_page">
                    <a href="#/{{group_type}}/{{group.name}}" title="{{group.name}}">
                        <img ng-src="{{thumbs_base_path}}{{group.thumbnail}}"><br />
                        {{group.name}} ({{group.picture_count}})
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
