<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->
            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="-picture_count">Count</option>
            </select>

            <ul class="tag-list">
                <li ng-repeat="tag in tags | filter:query | orderBy:orderProp">
                    <a href="#/tag/{{tag.name}}">{{tag.name}} ({{tag.picture_count}})</a>
                </li>
            </ul>
        </div>
        <div class="span10">
            <!--Body content-->
            <h1>{{group_type}} - {{groups.length}} groups ({{current_page}} / {{last_page}})</h1>
            <span style="float: left;">
                <a href="#/{{group_type}}/page/0">First</a> | 
                <a href="#/{{group_type}}/page/{{previous_page}}">Previous</a>
            </span>
            <span style="float: right">
                <a href="#/{{group_type}}/page/{{next_page}}">Next</a> | 
                <a href="#/{{group_type}}/page/{{last_page}}">Last</a>
            </span>
            <ul class="tag-pictures">
                <li ng-repeat="group in groups | filter:query | startFrom:current_page*items_per_page | limitTo:items_per_page">
                    <a href="#/{{group_type}}/{{group.name}}" title="{{group.name}}">
                        <img ng-src="{{thumbs_base_path}}{{group.thumbnail}}"><br />
                        {{group.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
