<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->
            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="-picture_count">Picture count</option>
            </select>
            <ul class="tag-list">
                <li ng-repeat="tag in tags | filter:query | orderBy:orderProp">
                    <a href="#/tag/{{tag.name}}">{{tag.name}} ({{tag.picture_count}})</a>
                </li>
            </ul>
        </div>
    <div class="span8">
        <!--Body content-->
        <h1>{{picture.id}} - {{picture.datetime}}</h1>
        <p>{{picture.comment}}</p>
        <a style="float: left;" href="#/{{picture_source}}/{{source.name}}/picture/{{pp}}">Previous Picture</a>
        <a style="float: right;" href="#/{{picture_source}}/{{source.name}}/picture/{{np}}">Next Picture</a>
        <img onload="realign_image(this);" class="{{orientation}}" ng-src="{{pictures_base_path}}{{picture.path}}"></img>
    </div>

    <div class="span2">
        In tags:
        <ul>
            <li style="display: inline; margin-left: 10px;" ng-repeat="tag in picture.tags">
                <a href="#/tag/{{tag}}">{{tag}}</a>
            </li>
        </ul>
        <google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="true" style="height: 200px"></google-map>

        <span class="picture-detail-group-thumbs-caption">Upcoming pictures</span>
        <ul class="picture-detail-upcoming-list" style="margin-left: 0px;">
          <li style="list-style: none; margin-top: 10px;" ng-repeat="thumbs in source.pictures | orderBy:'title' | startFrom:start_previewing_at_index-1 | limitTo:5">
            <a class="{{{true: 'current-picture', false: ''}[ picture.id == thumbs.id]}}" href="#/{{picture_source}}/{{source.name}}/picture/{{thumbs.id}}">
              <img title="{{thumbs.title}}" src="{{thumbs_base_path}}{{thumbs.thumbnail}}" />
            </a>
          </li>
        </ul>
    </div>
</div>
