<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->
            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="-picture_count">Count</option>
            </select>

            <ul class="tag-list">
                <li ng-repeat="tag in tags | filter:query | orderBy:orderProp">
                    <a href="#/tag/{{tag.name}}">{{tag.name}} ({{tag.picture_count}})</a>
                </li>
            </ul>
        </div>
        <div class="span10">
            <!--Body content-->
            <h1>{{source.name}} - {{source.picture_count}} pictures ({{current_page+1}} / {{last_page+1}})</h1>
              <span style="float: left;">
                <a href="#/{{picture_source}}/{{source.name}}/{{pagination.first">First</a> | 
                <a href="#/{{picture_source}}/{{source.name}}/{{pagination.previous}}">Previous</a>
              </span>
              <span style="float: right;">
                <a href="#/{{picture_source}}/{{source.name}}/{{pagination.next}}">Next</a> | 
                <a href="#/{{picture_source}}/{{source.name}}/{{pagination.last}}">Last</a>
              </span>
            <ul class="tag-pictures">
                <li ng-repeat="picture in source.pictures | filter:query | startFrom:current_page*items_per_page | limitTo:items_per_page">
                    <a href="#/{{picture_source}}/{{source.name}}/picture/{{picture.id}}" title="{{picture.title}}">
                        <img ng-src="{{thumbs_base_path}}{{picture.thumbnail}}">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
