<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="-picture_count">Count</option>
      </select>

    <ul class="tag-list">
        <li ng-repeat="tag in tags | filter:query | orderBy:orderProp">
            <a href="#/tag/{{tag.name}}">{{tag.name}} ({{tag.picture_count}})</a>
        </li>
    </ul>


    </div>
    <div class="span8">
      <!--Body content-->
        <h1>{{picture.id}} - {{picture.datetime}}</h1>
        <p>{{picture.comment}}</p>


        <a href="#/{{picture_source}}/{{source.name}}/picture/{{pp}}">Previous</a>
        <a style="float: right" href="#/{{picture_source}}/{{source.name}}/picture/{{np}}">Next</a>
        <img ng-src="{{pictures_base_path}}{{picture.path}}"></img>

        <ul>
            <li ng-repeat="picture in picture_slice" style="display: inline;" >
                <a href="#/{{picture_source}}/{{source.name}}/picture/{{picture.id}}"><img ng-src="{{thumbs_base_path}}{{picture.thumbnail}}"></a>
            </li>
        </ul>

    </div>


    <div class="span2">
        In tags:
        <ul>
            <li style="display: inline; margin-left: 10px;" ng-repeat="tag in picture.tags">
                <a href="#/tag/{{tag}}">{{tag}}</a>
            </li>
        </ul>
        <google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="true" style="height: 200px"></google-map>
    </div>
  </div>
</div>
