<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

          Search: <input ng-model="query">
          Sort by:
          <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="-picture_count">Count</option>
          </select>

        <ul class="tag-list">
            <li ng-repeat="tag in tags | filter:query | orderBy:orderProp">
                <a href="#/tag/{{tag.name}}">{{tag.name}} ({{tag.picture_count}})</a>
            </li>
        </ul>


    </div>
    <div class="span10">
      <!--Body content-->
      <h1>{{tag.name}} - {{tag.picture_count}} pictures ({{current_page}} / {{lp}})</h1>
        <span><a href="#/tag/{{tag.name}}/{{fp}}">First ({{fp}})</a> | 
        <a href="#/tag/{{tag.name}}/{{pp}}">Previous ({{pp}})</a></span>
        <span style="float: right;"><a href="#/tag/{{tag.name}}/{{np}}">Next ({{np}})</a> | 
        <a href="#/tag/{{tag.name}}/{{lp}}">Last ({{lp}})</a></span>
        <ul class="tag-pictures">
          <li ng-repeat="picture in page">
            <a href="#/tag/{{tag.name}}/picture/{{picture.id}}" title="{{picture.title}}"><img ng-src="{{thumbs_base_path}}{{picture.thumbnail}}"></a>
          </li>
        </ul>
    </div>
  </div>
</div>
